.first-pick {
    background-color: #e6e9ec;
    position: inherit;
    height: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(113, 31, 31, 0.2);
}

.nav-item {
    font-family: "Comic Relief", system-ui;
    font-weight: 200;
    font-style: normal;
}

.display-5, .lead {
    font-family: "Comic Relief", system-ui;
    font-weight: 200;
    font-style: normal;
}

#profile {
    border-radius: 50%;
    height: 700px;
    width: 500px;
}

#icon-grid {
  font-family: "Comic Relief", system-ui;
  font-weight: 200;
  font-style: normal;
}

#mission {
    font-family: "Comic Relief", system-ui;
    font-weight: 200;
    font-style: normal;
}

.center-footer {
    text-align: center;
    font-family: "Comic Relief", system-ui;
    font-weight: 200;
    font-style: normal;
}

#skill-pic {
    width: 10000px;
    height: 100px;
    object-fit: cover;
}